.container {
  max-width: 1260px;
  margin: 0 auto;

  .nav {
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      border: 1px solid #13101b;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .activate {
      border-bottom: 1px solid #fff;
      color: #fff;
    }

    button {
      margin-right: 30px;
      padding: 20px 0;

      font-weight: 500;
      font-size: 20px;
      line-height: 130%;
      color: #868686;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: #fff;
      }
    }
  }

  .games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    .game {
      position: relative;
      width: 300px;
      margin-bottom: 40px;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }

      img {
        width: 100%;
        height: 400px;
        border-radius: 15px;
        cursor: pointer;
      }

      .info {
        padding: 20px;

        .cent {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
          }

          h3 {
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            color: #77be1d;
          }

          h4 {
            font-weight: 400;
            font-size: 18px;
            line-height: 130%;
            color: rgba(255, 255, 255, 0.2);
          }
        }

        .title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 20px 0;

          div {
            font-size: 20px;
            transform: translateX(30px) translateY(2px);
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            span {
              color: red;
            }

            &:hover {
              color: red;
            }
          }

          h1 {
            font-weight: 400;
            font-size: 16px;
            line-height: 130%;
          }

          .inBasket {
            background: #3d394a;
          }

          button {
            width: 40px;
            height: 40px;
            background: #77be1d;
            border-radius: 15px;

            font-weight: 600;
            font-size: 25px;

            transition: all 0.2s ease-in-out;

            &:hover {
              background: rgba($color: #77be1d, $alpha: 0.7);
            }
          }
        }

        .gameInfo {
          display: flex;

          span {
            display: flex;
            align-items: center;
            margin-right: 20px;
            color: #3d394a;
            font-size: 14px;

            p {
              color: #747474;
              margin-left: 9px;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;
            }
          }
        }
      }
    }
  }
}
