.container {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px 60px;
  margin-top: 100px;
  border: 1px solid #77be1d;
  border-radius: 15px;

  h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    text-transform: uppercase;
  }

  p {
    margin-top: 50px;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;

    .link {
      color: #fff;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #77be1d;
      }
    }
  }

  form {
    input {
      width: 100%;
      background: rgba(196, 196, 196, 0.05);
      height: 60px;
      margin-bottom: 30px;
      border-radius: 15px;
      padding: 0 20px;
    }

    button {
      background: #77be1d;
      width: 100%;
      padding: 0 20px;
      height: 50px;
      border-radius: 15px;
    }
  }
}
